---
http_interactions:
- request:
    method: get
    uri: https://test-server.com/console/api/v2/spaces
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": "space-1"
          }
        ]
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: get
    uri: https://test-server.com/console/api/v2/projects/project-1/assemblies
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "assembly-version": "1.0.0",
            "project-name": "project-1",
            "branch-name": "main"
          }
        ]
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: get
    uri: https://test-server.com/console/api/v2/projects/project-1/versions
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": "id",
            "image-type": "image-type",
            "version": "1.0.0"
          }
        ]
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: get
    uri: https://test-server.com/console/api/v2/projects/project-1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "id",
          "name": "project-1",
          "group-id": "group-1",
          "project-kind": "Application"
        }
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: get
    uri: https://test-server.com/console/api/v2/projects
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": "id",
            "name": "project-1",
            "group-id": "group-1",
            "project-kind": "Application"
          }
        ]
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: get
    uri: https://test-server.com/console/api/v2/applications/id/status
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        {
          "status": "Running"
        }
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: get
    uri: https://test-server.com/console/api/v2/applications/id
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "id",
          "name": "application-name"
        }
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: post
    uri: https://test-server.com/console/api/v2/applications
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "id",
          "name": "application-name"
        }
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

[...]
- request:
    method: post
    uri: https://test-server.com/console/api/v2/user-lists
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "id"
        }
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: delete
    uri: https://test-server.com/console/api/v2/user-lists/id
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: ""
  recorded_at: Thu, 02 May 2025 07:05:21 GMT

- request:
    method: post
    uri: https://test-server.com/console/sys/token
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        {
          "id_token": "id_token",
          "token_type": "Bearer",
          "access_token": "access_token"
        }
  recorded_at: Thu, 02 May 2025 07:05:21 GMT