---
http_interactions:
- request:
    method: post
    uri: https://app-469353.1cmycloud.com/applications/test-app/api/tests
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Proxy-Node-Id:
      - aquilonis-proxy-02-z1-msk4.e1c-ops.com
      X-Forwarding-Server:
      - 1C-ECRUN HTTP LoadBalancer (v2) [747-1] (aquilonis-proxy-02-z1-msk4.e1c-ops.com)
    body:
      encoding: UTF-8
      string: |-
        {
          "error" : {
            "code" : 5,
            "status" : "NOT_FOUND",
            "message" : "Application \"test-app\" not found.",
            "details" : [ ]
          }
        }
  recorded_at: Thu, 01 May 2025 07:02:48 GMT
recorded_with: VCR 6.3.1
